@media (max-width: 600px) {
    .tm-header-inner {
        display: block;
    }
    nav {
        margin: 30px;
    }
    .tm-gallery {
        margin-left: 0;

    }
    .tm-gallery-page {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .tm-cta-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
    }
    .tm-descriptin-figure img {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .row {
        margin: 0;
        padding: 0;
    }
}