html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 15vw;
    max-height: 35rem;
    border: 1px solid red;
}
span {
    display: flex;
    align-items: center;
    /* width: 100px; */
    border: 1px solid black;
    align-items: center;
}
span:nth-child(11) {
    order:1;
    background-color: green;
}
span:nth-child(2) {
    background-color: green;
    order:2;
}
span:nth-child(12) {
    background-color: green;
    order:3;
}
span:nth-child(8) {
    background-color: green;
    order:4;
}
span:nth-child(9) {
    background-color: green;
    order:5;
}
span:nth-child(6) {
    background-color: green;
    order:6;
}
span:nth-child(5) {
    background-color: green;
    order:7;
}
span:nth-child(5) {
    background-color: green;
    order:7;
}
